pkgbase = anythingllm-appimage
	pkgdesc = Any LLM, unlimited documents, and fully private. All on your desktop.
	pkgver = 1.7.8
	pkgrel = 1
	url = https://useanything.com/
	arch = x86_64
	license = custom
	depends = zlib
	depends = hicolor-icon-theme
	depends = fuse2
	noextract = anythingllm-appimage-1.7.8.AppImage
	options = !strip
	options = !debug
	source_x86_64 = anythingllm-appimage-1.7.8.AppImage::https://cdn.anythingllm.com/latest/AnythingLLMDesktop.AppImage
	sha256sums_x86_64 = 3f9b88628030c1f02fe1eb310e571ff116989030c43dc04c50e2c67d2c47e922

pkgname = anythingllm-appimage
